<div class = "nav-container">
  <div class = "nav-container-left">
  </div>
  <div class="nav-container-main">
    <footer class="footer">
      <small>
        Routine Route
        by <a href="http://www.gregwilwerding.com/">Greg Wilwerding</a>
      </small>
    </footer>
  </div>
  <div class = "nav-container-right">
  </div>
</div>
