<h2>
<%= "#  " + @rt + "  Route Direction" %>
</h2>

<ul>
  <% @busdirections.each do |d| %>
    <li>
      <%= link_to d["dir"], busstop_path(rt: @rt, rtnm: @rtnm, rtdir: d["dir"]), class: "btn btn-lg btn-primary" %>
    </li>
  <% end %>
</ul>
