<div class = "show-container">
  <div class = "show-left-div">
  </div>
  <div class = "show-main-div">
    <div class = "main-flex-container">
      <div class = "login-container">
        <div class = "button">
          <section class="busroute_form">
            <%= render 'busroute_form' %>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class = "show-right-div">
  </div>
</div>
