<h2>
<%= "#  " + @rt + " " + @rtdir + " Stops" %>
</h2>

<ul>
  <% @busstops.each do |s| %>
    <li>
      <%= link_to s["stpnm"], bussave_path(rt: @rt, rtnm: @rtnm, rtdir: @rtdir, stpid: s["stpid"], stpnm: s["stpnm"]), class: "custom-button" %>
    </li>
  <% end %>
</ul>
