@import "bootstrap-sprockets";
@import "bootstrap";


$red-line: #c60c30;
$blue-line: #00a1de;
$brown-line: #62361b;
$green-line: #009b3a;
$orange-line: #f9461c;
$purple-line: #522398;
$pink-line: #e27ea6;
$yellow-line: #f9e300;

/* universal */

* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 200px;
  background-image: url("background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.login-button, .register-button {
  background: #0079c2;
  background-image: linear-gradient(to bottom, #0079c2, #00568c);
  border: 1px solid #555555;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  text-decoration: out;
  text-shadow: 3px 3px 0px #666666;
  box-shadow: 0px 1px 3px #666666;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
  font-weight: 700;
  padding: 19px 39px 18px;
  font-size: 40px;
  text-transform: uppercase;
  background-color: #60c3ff;
  width: 600px;
}

.login-button {
  margin: 100px 0 25px 0;
}

.logout-button {
  margin: 0 0 25px 0;
}

.login-button:hover, .register-button:hover {
  background-color: #009dff;
  border-color: #555555;
}

.route-button {
  border: 1px solid #555555;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all 200ms ease-in-out 0s;
  font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: #60c3ff;
  width: 600px;
}

.route-button:hover {
    background-color: #009fff;
    border-color: #555555;
}

.route-ul {
  list-style: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  height: 125px;
}

.nav-container-left, .nav-container-right {
  flex: 1 1 auto;
  align-self: auto;
}

.nav-container-main {
  flex: 0 0 auto;
  align-self: auto;
  width: 600px;
}

.rr-logo a {
  margin: 0 0 0 5px;
  float: left;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  color: white;
  padding: 10px 0 0 0;
}

.rr-logo a:hover {
  text-decoration: none;
}

.dropdown-toggle, #header-login {
  font-size: 30px;
  margin: 25px 0 0 0;
}

.dropdown-menu {
  font-size: 30px;
}

/* footer */
footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #fe7200;
  font-size: 20px;
}

footer a {
  color: #fe7200;
}

footer a:hover {
  color: #222;
}

footer small {
  float: right;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
}

.text-input {
  height: 100px;
  font-size: 40px;
}

.login-email-field {
  margin: 250px 0 50px 0;
}

.remember-me {
  margin: 50px 0 0 0;
  span {
    margin: 0 0 0 50px;
    color: black;
  }
}

input[type=checkbox] {
  transform: scale(4);
  margin: 20px 0 0 0;
  padding-left: 20px;
}

label {
  font-size: 36px;
  color: white;
}

.register-link {
    font-size: 32px;
    color: white;
  }

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* vews */

/* shows */
.show-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.show-left-div, .show-right-div {
  flex: 1 1 auto;
  align-self: auto;
}

.show-main-div {
  flex: 0 0 auto;
  align-self: center;
  min-width: 600px;
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.logo-container {
  flex: 1 1 auto;
  align-self: center;
  width: 600px;
  height: auto;
  margin: 100px 0 100px 0;
}

.login-container {
  flex: 1 1 auto;
  align-self: center;
}

.full-logo {
  width: 600px;
  height: auto;
}

/* show */

.section-title {
  flex: 0 0 auto;
  align-self: center;;
  height: 75px;
  width: 600px;
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.routes-container {
  flex: 1 1 auto;
  align-self: flex-start;
}

.routes-title {
  width: 600px;
  height: 50px;
  color: #555;
  font-size: 1.3em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.title-container {
  width: 100px;
  flex: 1 1 auto;
  align-self: flex-start;
}

.addroute-link {
  flex: 1 1 auto;
  align-self: flex-start;
  width: 50px;
}

.route-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.route-li {
  flex: 1 1 auto;
  align-self: flex-start;
  list-style: none;
  margin: 10px 0 0 0;
}

.route-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.rt {
  flex: 0 0 auto;
  align-self: center;
  height: 40px;
  width: 50px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.route-details {
  flex: 1 1 auto;
  align-self: center;
}

.dest {
  width: 208px;
  height: 20px;
}

.stop {
  width: 200px;
  height: 20px;
}

.time-container {
  flex: 1 1 auto;
  align-self: center;
}

.time-flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.time {
  flex: 1 1 auto;
  align-self: center;
  font-family: sans;
  font-size: 12px;
  width: 100px;
  height: 12px;
  padding-left: 10px;
}

.time:first-child {
  font-family: sans;
  font-size: 14px;
  width: 100px;
  height: 14px;
  padding-left: 10px;
}

.route-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

#red-line {
  background-color: $red-line;
}

#blue-line {
  background-color: $blue-line;
}

#brown-line {
  background-color: $brown-line;
}

#green-line {
  background-color: $green-line;
}

#orange-line {
  background-color: $orange-line;
}

#purple-line {
  background-color: $purple-line;
}

#pink-line {
  background-color: $pink-line;
}

#yellow-line {
  background-color: $yellow-line;
  color: black;
}

.route-refresh-button {
  flex: 0 0 auto;
  align-self: center;
  width: 60px;
  height: 50px;
  margin: 0 5px;
}

.route-delete-button {
  flex: 0 0 auto;
  align-self: center;
  width: 60px;
  height: 50px;
  margin: 0 5px;
}
