@import "bootstrap-sprockets";
@import "bootstrap";

$red-line: #c60c30;
$blue-line: #00a1de;
$brown-line: #62361b;
$green-line: #009b3a;
$orange-line: #f9461c;
$purple-line: #522398;
$pink-line: #e27ea6;
$yellow-line: #f9e300;

$text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
$logo-orange: #fe7200;

$full-width: 750px;

/* universal */

* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 200px;
  background-image: url("background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  padding: 0;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.login-button, .register-button {
  background: #0079c2;
  background-image: linear-gradient(to bottom, #0079c2, #00568c);
  border: 1px solid #555555;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  text-decoration: out;
  text-shadow: 3px 3px 0px #666666;
  box-shadow: 0px 1px 3px #666666;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
  font-weight: 700;
  padding: 19px 39px 18px;
  font-size: 40px;
  text-transform: uppercase;
  background-color: #60c3ff;
  width: 650px;
}

.login-button {
  margin: 100px 0 25px 0;
}

.logout-button {
  margin: 0 0 25px 0;
}

.login-button:hover, .register-button:hover {
  background-color: #009dff;
  border-color: #555555;
}

.route-ul {
  list-style: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  height: 125px;
}

.nav-container-left, .nav-container-right {
  flex: 1 1 auto;
  align-self: auto;
}

.nav-container-main {
  flex: 0 0 auto;
  align-self: auto;
  width: $full-width;
}

.rr-logo a {
  margin: 0 0 0 5px;
  float: left;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  color: white;
  padding: 10px 0 0 0;
}

.rr-logo a:hover {
  text-decoration: none;
}

.dropdown-toggle, #header-login {
  font-size: 30px;
  margin: 25px 0 0 0;
}

.dropdown-menu {
  font-size: 30px;
}

/* footer */
footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $logo-orange;
  font-size: 20px;
}

footer a {
  color: $logo-orange;
}

footer a:hover {
  color: #222;
}

footer small {
  float: right;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
}

.text-input {
  height: 100px;
  font-size: 40px;
}

.login-email-field {
  margin: 200px 0 50px 0;
}

.remember-me {
  margin: 75px 0 0 0;
  span {
    margin: 0 0 0 50px;
    color: white;
    text-shadow: $text-shadow;
  }
}

.register-firstname-field {
  margin-top: 40px;
}

.register-login {
  margin-left: 25px;
}

input[type=checkbox] {
  transform: scale(2);
  margin: 20px 0 0 50px;
  padding-left: 50px;
}

label {
  font-size: 36px;
  font-weight: 400;
  color: white;
  text-shadow: $text-shadow;
}

.register-link {
    font-size: 32px;
    color: white;
    text-shadow: $text-shadow;
  }

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* vews */

/* shows */
.show-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.show-left-div, .show-right-div {
  flex: 1 1 auto;
  align-self: auto;
}

.show-main-div {
  flex: 0 0 auto;
  align-self: center;
  min-width: $full-width;
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  background-color: rgba(196, 196, 195, 0.6);
}

.logo-container {
  flex: 1 1 auto;
  align-self: center;
  width: $full-width;
  height: auto;
  margin: 100px 0 100px 0;
  img {
    padding-left: 75px;
  }
}

.login-container {
  flex: 1 1 auto;
  align-self: center;

}

.full-logo {
  width: $full-width;
  height: auto;
}

/* show */
.section-title {
  flex: 0 0 auto;
  align-self: center;;
  height: 75px;
  width: $full-width;
  margin-bottom: 100px;
}

.title {
  font-size: 75px;
  color: $logo-orange;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: $text-shadow;
  padding: 30px 0 0 0;
}

.routes-container {
  flex: 1 1 auto;
  align-self: flex-start;
}


.title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  width: $full-width;
  height: 80px;
}

.routes-title {
  flex: 1 1 auto;
  align-self: flex-start;
  margin: 7px 0 0 25px;
  width: 500px;
  h3 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 10px;
  }
}

.addroute-link {
  flex: 1 1 auto;
  align-self: auto;
  background-color: $logo-orange;
  height: 80px;
  width: 80px;
  margin-right: 55px;
  text-align: center;
  justify-content: center;
  padding-top: 15px;
  a {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 34px;
    color: white;
    text-shadow: $text-shadow;
  }
}

.route-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.route-li {
  flex: 1 1 auto;
  align-self: flex-start;
  list-style: none;
  margin-left: 45px;
}

.route-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background-color: white;
  height: 100px;
  width: 650px;
}

.rt {
  flex: 0 0 auto;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 44px;
  text-align: center;
  width: 80px;
  margin-bottom: 10px;
}

.route-details {
  flex: 1 1 auto;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px;
  width: 250px;
}

.dest {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 30px;
}

.stop {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.time-container {
  flex: 1 1 auto;
  align-self: center;
}

.time-flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.time {
  flex: 1 1 auto;
  align-self: center;
  font-size: 20px;
}

.route-refresh-button {
  flex: 0 0 auto;
  align-self: center;
  width: 60px;
  height: 50px;
  margin: 0 5px;
}

.route-delete-button {
  flex: 0 0 auto;
  align-self: center;
  width: 60px;
  height: 50px;
  margin: 0 5px;
}

.ctabus-button {
  margin-bottom: 100px;
}

.l-button, .ctabus-button {
  background: #0079c2;
  background-image: linear-gradient(to bottom, #0079c2, #00568c);
  border: 1px solid #555555;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  text-decoration: out;
  text-shadow: 3px 3px 0px #666666;
  box-shadow: 0px 1px 3px #666666;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
  font-weight: 700;
  padding: 19px 39px 18px;
  font-size: 35px;
  text-transform: uppercase;
  background-color: #60c3ff;
  width: 650px;
}

#l {
  margin: 300px 0 50px 0;
}

#ctabus {
  margin: 0 0 500px 0;
}

.l-button:hover, .ctabus-button:hover {
  background-color: #009dff;
  border-color: #555555;
}

.route-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background: #0079c2;
  background-image: linear-gradient(to bottom, #0079c2, #00568c);
  border: 1px solid #555555;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  text-decoration: out;
  text-shadow: 3px 3px 0px #666666;
  box-shadow: 0px 1px 3px #666666;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  background-color: #60c3ff;
  width: 650px;
  height: 100px;
  padding: 20px 0 0 0;
  margin: 10px 0;
}

.route-button:hover {
    background-color: #009fff;
    border-color: #555555;
}

.busdirection {
  list-style: none;
  margin: 150px 0 300px 0;
}

.busstops {
  list-style: none;
  margin-top: 100px;
}

.savert, .savestop {
  width: $full-width;
  height: 100px;
  font-family:  'Saira Condensed', sans-serif;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  margin: 100px 0 0 0;
}

.route-save-button {
  margin: 300px 0 300px 50px;
  justify-content: center;
}

.red-line {
  border: 1px solid #555555;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all 200ms ease-in-out 0s;
  font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: $red-line;
  width: 650px;
  height: 100px;
}

// #blue-line {
//   background-color: $blue-line;
// }
//
// #brown-line {
//   background-color: $brown-line;
// }
//
// #green-line {
//   background-color: $green-line;
// }
//
// #orange-line {
//   background-color: $orange-line;
// }
//
// #purple-line {
//   background-color: $purple-line;
// }
//
// #pink-line {
//   background-color: $pink-line;
// }
//
// #yellow-line {
//   background-color: #f9e300;
//   color: black;
// }

.about {
  margin-top: 150px;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 36px;
  word-wrap: normal;
  width: 650px;
}

.dev-info {
  margin: 100px 0 200px 0;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 36px;
  word-wrap: normal;
  width: 650px;
}
