<li><%= link_to "Howard", ltrainsave_path(rt: "Y", destNm: "Skokie", staNm: "Howard", stpId: "30175"), class: "route-button" %></li>
<li><%= link_to "Oakton-Skokie", ltrainsave_path(rt: "Y", destNm: "Skokie", staNm: "Oakton-Skokie", stpId: "30297"), class: "route-button" %></li>
