<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>

<div class = "show-container">
  <div class = "show-left-div">
  </div>
  <div class = "show-main-div">
    <div class = "main-flex-container">
      <div>
        <%= gravatar_for @user %>
        <h3><%= @user.first_name %></h3>
        <h3><%= @user.last_name %></h3>
      </div>
      <div class="button">
          <%= render 'form' %>
      </div>
    </div>
  </div>
  <div class = "show-right-div">
  </div>
</div>
