<li><%= link_to "Skokie", ltrainsave_path(rt: "Y", destNm: "Howard", staNm: "Skokie", stpId: "30027"), class: "route-button" %></li>
<li><%= link_to "Oakton-Skokie" , ltrainsave_path(rt: "Y", destNm: "Howard", staNm: "Oakton-Skokie", stpId: "30298"), class: "route-button" %></li>
