<div class = "show-container">
  <div class = "show-left-div">
  </div>
  <div class = "show-main-div">
    <div class = "main-flex-container">
      <div class = "login-container">
        <div class = "button">
          <%= link_to "L", ltrainroute_path, class: "l-button", id: "l" %>
        </div>
        <div class = "button">
          <%= link_to "CTA Bus", busroute_path, class: "ctabus-button", id: "ctabus" %>
        </div>
      </div>
    </div>
  </div>
  <div class = "show-right-div">
  </div>
</div>
