<% provide(:title, "About") %>

<div class = "show-container">
  <div class = "show-left-div">
  </div>
  <div class = "show-main-div">
    <div class = "main-flex-container">
      <div class = "section-title">
        <h2 class = "title">Welcome to Routine Route</h2>
      </div>
      <div class = "login-container">
        <div class = "button">
          <p class = "about">Create and account and save the public transit routes you take
            every day for easy access. Don't wait out in the rain or cold for
            your bus or train to arrive! Know exactly when yours will be at your
            usual stop.</p>
          <p class = "dev-info">Developed by <a href = "http://www.gregwilwerding.com">
            Greg Wilwerding</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class = "show-right-div">
  </div>
</div>
