<% provide(:title, "About") %>
<h1>Welcome to Routine Route</h1>
  <p>Create and account and save the public transit routes you take
    every day for easy access. Don't wait out in the rain or cold for your bus
    or train to arrive! Know exactly when yours will be at your usual stop.</p>
  <p>Developed by <a href = "http://www.gregwilwerding.com">Greg Wilwerding</a></p>
