<div class="center jumbotron">
  <h1>Routine Route</h1>
  <%= link_to "Log In", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
